.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.item {
  width: 600px;
  margin: auto;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.center-middle {
  display: flex;
  flex-direction: column;
  text-align: middle;
}

.launch-info {
  margin-top: auto;
  margin-bottom: auto;
}

.image {
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.btn {
  background-color: #24aae3;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 10px 25px;
  text-decoration: none;
  font-weight: 600;
}
.btn:hover {
  background-color: #2a95bf;
}
.btn:active {
  position: relative;
  top: 1px;
}

.btn-secondary {
  background-color: #2daa0e;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 10px 25px;
  text-decoration: none;
  font-weight: 600;
}
.btn-secondary:hover {
  background-color: #48cf26;
}
.btn-secondary:active {
  position: relative;
  top: 1px;
}

.item-divider {
  width: 50%;
  border: 0.5px solid #969696;
}

.title {
  text-align: center;
}

.loading {
  display: block;
  width: 250px;
  margin: auto;
  margin-top: 70px;
  text-align: center;
}
.launch-name {
  margin-bottom: 0px;
}
